<div id="scrollBar">
  <div class="scrollBar-inner-wrap">
  <div class="add-to-cart-bar-content-first">
    <img class="atc_image" src="{{ product.featured_image | img_url:'95x75' }}">
    <div class="atc-title-price">
      <p class="atc-title">{{ product.title }}</p>
      <div class="atc-color-size-wrap">
        <p class="atc-variant"></p>/
        <p class="atc-variant-size"></p>
      </div>
    </div>
  </div>
  <div class="add-to-cart-bar-content-second">
    <p class="atc-product-price">
      {{ product.price | money}}
    </p>
    <div class="atc-quantity-wrap">
      <quantity-input class="quantity">
        <button class="quantity__button no-js-hidden" name="minus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-minus' %}
        </button>
        <input
          class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          data-cart-quantity="{{ cart_qty }}"
          data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
          {% endif %}
          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
          form="{{ product_form_id }}"
        />
        <button class="quantity__button no-js-hidden" name="plus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-plus' %}
        </button>
      </quantity-input>
    </div>

    <button class="atc-button">
      
    </button>

  </div>
  </div>
</div>
