<ul class="footer__list-social list-unstyled list-social">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-facebook' -%}
        <span class="tooltip-text">Follow On Facebook</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link" target="_blank" >
        {%- render 'icon-instagram' -%}
        <span class="tooltip-text">Follow On Instagram</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-tiktok' -%}
        <span class="tooltip-text">Follow On Tiktok</span>
    
      {% comment %}  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-twitter' -%}
        <span class="tooltip-text">Follow On Twitter</span>
      {% comment %}<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-pinterest' -%}
        <span class="tooltip-text">Follow On Pinterest</span>
     {% comment %}<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-youtube' -%}
        <span class="tooltip-text">Follow On Youtube</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}  
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-snapchat' -%}
        <span class="tooltip-text">Follow On Snapchat</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" target="_blank">
        {%- render 'icon-tumblr' -%}
        <span class="tooltip-text">Follow On Tumbler</span>
        {% comment %}<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item tooltip hover-element">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" target="_blank">
        <span class="tooltip-text">Follow On Vimeo</span>
        {%- render 'icon-vimeo' -%}
      {% comment %}  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>{% endcomment %}
      </a>
    </li>
  {%- endif -%}
</ul>