{{ 'masonry-gallery.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{% assign block = section.blocks %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="page-width{% if section.settings.heading == blank %} no-heading{% endif %} section-{{ section.id }}-padding">
    <h2 class="masonry-gallery-wrapper-title inline-richtext {{ section.settings.heading_size }} {{ section.settings.heading_alignment }}">
      <span>{{ section.settings.heading }}</span>
    </h2>
    <div class="masonry-gallery__flex-wrap">
      {% if section.settings.column_image_alignment == 'left' %}
      <div class="masonry-gallery__items--left" {{ block.shopify_attributes }}>
        {% if block[0] %}
          <div class="masonry-gallery-card-wrapper">
            {% if block[0].settings.image_link != blank %}
              <a href="{{ block[0].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}
            <div class="media media--transparent" >
              {%- if block[0].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[0].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
          </div>
          {% if block[0].settings.image_link != blank %}
            </a>
          {% endif %}
        </div>
        {% endif %}
        {% if block[4] %}
          <div class="masonry-gallery-card-wrapper masonry-gallery-card-wrapper--block-4">
            {% if block[4].settings.image_link != blank %}
              <a href="{{ block[4].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}          
            <div class="media media--transparent ratio"
            {% if block[4].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[4].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[4].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[4].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[4].settings.image_link != blank %}
              </a>
            {% endif %}                            
          </div>
          {% endif %}
      </div>
      {% endif %}
      <div class="masonry-gallery__row-items">
        <div class="masonry-gallery__items--top" {{ block.shopify_attributes }}>
          {% if block[1] %}
            <div class="masonry-gallery-card-wrapper">
              {% if block[1].settings.image_link != blank %}
                <a href="{{ block[1].settings.image_link }}" class="masonry-gallery__items--link">
              {% endif %}
              <div class="media media--transparent">
                {%- if block[1].settings.image != blank -%}
                  {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                  {{ block[1].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
              </div>
              {% if block[1].settings.image_link != blank %}
              </a>
              {% endif %}
            </div>
          {% endif %}        
          {% if block[2] %}
          <div class="masonry-gallery-card-wrapper">
            {% if block[2].settings.image_link != blank %}
              <a href="{{ block[2].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}
            <div class="media media--transparent ratio"
            {% if block[2].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[2].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[2].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[2].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[2].settings.image_link != blank %}
              </a>
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="masonry-gallery__center--wrap-mobile">
          {% if block[2] %}
          <div class="masonry-gallery-card-wrapper">
            {% if block[2].settings.image_link != blank %}
              <a href="{{ block[2].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}
            <div class="media media--transparent ratio"
            {% if block[2].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[2].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[2].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[2].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[2].settings.image_link != blank %}
              </a>
            {% endif %}
          </div>
          {% endif %}
          {% if block[3] %}
          <div class="masonry-gallery-card-wrapper">                      
            {% if block[3].settings.image_link != blank %}
              <a href="{{ block[3].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}          
            <div class="media media--transparent ratio"
            {% if block[3].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[3].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[3].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[3].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[3].settings.image_link != blank %}
              </a>
            {% endif %}              
          </div>
          {% endif %}
        </div>
      
        <div class="masonry-gallery__items--bottom" {{ block.shopify_attributes }}>
          {% if block[3] %}
          <div class="masonry-gallery-card-wrapper">                      
            {% if block[3].settings.image_link != blank %}
              <a href="{{ block[3].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}          
            <div class="media media--transparent ratio"
            {% if block[3].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[3].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[3].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[3].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[3].settings.image_link != blank %}
              </a>
            {% endif %}              
          </div>
          {% endif %}
          {% if block[4] %}
          <div class="masonry-gallery-card-wrapper">
            {% if block[4].settings.image_link != blank %}
              <a href="{{ block[4].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}          
            <div class="media media--transparent ratio"
            {% if block[4].settings.image != blank %}
              style="--ratio-percent: {{ 1 | divided_by: block[4].settings.image.aspect_ratio | times: 100 }}%"
            {% else %}
              style="--ratio-percent: 100%"
            {% endif %}
            >
              {%- if block[4].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[4].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            </div>
            {% if block[4].settings.image_link != blank %}
              </a>
            {% endif %}                            
          </div>
          {% endif %}
        </div>
      </div>
      {% if section.settings.column_image_alignment == 'right' %}
      <div class="masonry-gallery__items--right" {{ block.shopify_attributes }}>
        {% if block[0] %}
          <div class="masonry-gallery-card-wrapper">
            {% if block[0].settings.image_link != blank %}
              <a href="{{ block[0].settings.image_link }}" class="masonry-gallery__items--link">
            {% endif %}
            <div class="media media--transparent" >
              {%- if block[0].settings.image != blank -%}
                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
                {{ block[0].settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
          </div>
          {% if block[0].settings.image_link != blank %}
            </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Masonry Gallery",
  "tag": "section",
  "class": "section masonry-gallery",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "align-left",
          "label": "Left"
        },
        {
          "value": "align-center",
          "label": "Center"
        },
        {
          "value": "align-right",
          "label": "Right"
        }
      ],
      "default": "align-left",
      "label": "Text Alignment"
    },   
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "Column Image Alignment"
    },
    {
      "type": "select",
      "id": "column_image_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Column Image Alignment"
    },   
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "Masonry Gallary",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }        
      ]
    }
  ]
}
{% endschema %}
